<div class="product simpleCart_shelfItem">
  <div class="product-page-links" onclick="window.parent.ShoppingCartPlugin.changeToProduct('{{id}}');return false;">
    <div class="product-image-div">
      <img class="product-image item_thumb" src={{first Images.Image}} alt={{ProductName}}>
    </div>
    <div class="product-name item_name">{{ProductName}}</div>
    <div class="product-weight item_weight" style="display:none">{{ProductWeight}}</div>
    <div class="product-short-description">{{ProductShortDescription}}</div>
    <span class="product-price item_price"><span data-unit="currency-symbol">{{currency_symbol}}</span>{{ProductPrice}}</span><br>
  </div>
  <a class="build-addtocart-button product-addtocart-button cart-button cart-button-animate item_add" href="javascript:;">
    <span class="value">Add to Cart</span>
    <span class="glyphicon glyphicon-plus-sign glyphicons {{themeColor}} circle_plus"></span>
  </a>
  <input type="text" value="1" class="item_Quantity single-item-quantity">
  <div class="build-cart-animation" style="display:none">1</div>
</div>
