<td class="product">
  <div class="product-page-links" onclick="window.parent.ShoppingCartPlugin.changeToProduct('{{id}}');return false;">
    <img class="product-image" src={{first Images.Image}} alt={{ProductName}}>
    <div class="product-name {{theme}}">{{ProductName}}</div>
    <div class="product-short-description">{{ProductShortDescription}}</div>
    <span class="product-price {{theme}}">{{currency_symbol}}{{ProductPrice}}</span><br>
  </div>
  <a class="product-addtocart-button cart-button cart-button-animate {{theme}}">Add to Cart</a>
  <div class="build-cart-animation" style="display:none">1</div>
</td>