<span class="category-name {{theme}}">{{currentCategory.CatName}}</span><span class='category-select {{theme}}'>Browse:
<select class="shopping-cart-categories" onchange="ShoppingCartPlugin.changeCategory(this);return false;">
  {{#each categories}}
    <option value={{this.ProdCatID}} {{#if this.isCurrentCategory}}selected{{/if}}>{{this.CatName}}</option>
  {{/each}}
</select></span>
<table class="products">
  <tr>
    {{#each_on_current_page_top currentProducts}}
      {{> product}}
    {{/each_on_current_page_top}}
  </tr>
  <tr>
    {{#each_on_current_page_bottom currentProducts}}
      {{> product}}
    {{/each_on_current_page_bottom}}
  </tr>
</table>
<span class="pages {{theme}}">Pages:</span>
{{#each_page currentProducts}}
  {{#if currentPage}}
    <a class="page-link current-page-link {{theme}}" title="Change to page {{pageNumber}}" href="#" onclick="window.parent.ShoppingCartPlugin.changePage({{pageNumber}});return false;">{{pageNumber}}</a>
  {{else}}
    <a class="page-link" title="Change to page {{pageNumber}}" href="#" onclick="window.parent.ShoppingCartPlugin.changePage({{pageNumber}});return false;">{{pageNumber}}</a>
  {{/if}}
{{/each_page}}