<div class="shopping-cart-widget {{theme}}">
  <div class="single-product simpleCart_shelfItem">
    <div class='top-section'>
      <a href="javascript:;" onclick="window.parent.ShoppingCartPlugin.changeToMain()" class="small-home-link">
        <span class="glyphicons {{themeColor}} circle_arrow_left single-home-arrow-link"></span>
        Back to {{currentCategoryName}}
      </a>
      <span class="product-name-heading item_name">{{ProductName}}</span>
      <a href="javascript:;" onclick="window.parent.ShoppingCartPlugin.changeToMain()" class='home-link'>
        <span class="glyphicons {{themeColor}} circle_arrow_left home-arrow-link big-home-arrow-link"></span>
        Back to {{currentCategoryName}}
      </a>
    </div>
    <div class="photos-section">
      <img class="hidden-thumbnail item_thumb" src={{first Images.Image}} alt={{ProductName}}>
      <div class="main-photo">
        <div class="magnify">
        <div class="large">
        </div>
          <div class="imgbox">
            <img class="first-product-image thumb" src={{currentMainImageURL}} alt={{ProductName}} />
          </div>
        </div>
      </div>
      <div class="small-photos">
        {{#each_next_four Images.Image}}
          <div class="small-photo">
            <img class="next-product-image" src={{this}} onclick="window.parent.ShoppingCartPlugin.changeToImage('{{this}}');return false;">
          </div>
        {{/each_next_four}}
      </div>
    </div>
    <div class="right-section">
      <div class="sku">{{SKU}}</div>
      <div class="long-description">{{ProductDescription}}</div>
      <div class="product-price">
        {{#if ProductSizes.Size}}
        {{#if OneSizeOnly}}
          <span class="item_size">
            {{ProductSizes.Size.SizeName}}
          </span> - 
          <span class="item_price">
            {{currency_symbol}}{{ProductSizes.Size.SizePrice}}
          </span>
          {{else}}
            <div class="from-text">
              from {{currency_symbol}}{{lowestPrice}}
            </div>
            <select class="product-size-selector" onchange="window.parent.ShoppingCartPlugin.selectProduct(this)">
              {{#each ProductSizes.Size}}
                <option value="{{SizeName}}">{{SizeName}} - {{currency_symbol}}{{SizePrice}}</option>
              {{/each}}
            </select>
            <span class="chosen-size item_size">
              {{lowestSizeName}}
            </span>
            <span class="chosen-price item_price">
              {{currency_symbol}}{{lowestPrice}}
            </span>
          {{/if}}
        {{else}}
          <span class="item_price">
            {{currency_symbol}}{{ProductPrice}}
          </span>
        {{/if}}
      </div>
      <div class="quantity-text">Quantity:</div>
      <div class="add-section">
        <input class='item_Quantity quantity-input' type='text' value='1'></input>
        <a class="build-addtocart-button product-addtocart-button cart-button cart-button-animate item_add" href="javascript:;">
          <span class="value">Add to Cart</span>
          <span class="glyphicon glyphicon-plus-sign glyphicons {{themeColor}} circle_plus"></span>
        </a>
        <div class="build-cart-animation" style="display:none">1</div>
      </div>
    </div>
  </div>
</div>